<h1><%= t('.name') + " " + @game.id.to_s%></h1>
<h2>Fruits</h2>
<%@game.fruits.on_tree.each do |fruit|%>
  <div class="fruit-<%=fruit.color%>">
    <%= button_to "x", crop_fruit_path(fruit) %>
  </div>
<%end%>

<h2><%= t(".dice")%></h2>
<div class="dice-<%=@game.dice.showing_face%>"></div>
<p><%= t(".last_roll")%> : <%=@game.dice.showing_face%></p>
<%= button_to t(".lunch"), roll_dice_path %>

<h2><%= t(".crow")%></h2>
<p><%= t(".forward")%> : <%=@game.crow.advancement%></p>
<%= button_to t(".crow_step"), crow_step_path %>
