<!DOCTYPE html>
<html>
  <head>
    <title>EastIceFieldGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type.to_sym) %> fade in">
        <button class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
        <i class="glyphicon glyphicon-<%= bootstrap_icon_for(type.to_sym) %>"></i> <%= t("games."+type) + " (" + message + ")"  %>
      </div>
    <% end %>
      <row>
        <div class="col-md-6 col-md-offset-3">
          <%= yield %>
        </div>
      </row>
  </body>
</html>
